@import '../../../content/scss/base/_mixin';
@import '../../../content/scss/base/_color';

.introduce-container {
  margin: 200px 0px;
  line-height: 45px;
  position: relative;
}

.product-card {
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    transition: .5s ease all;
    opacity: 1;
  }
}
.product-card:hover {
  img {
    transform: scale(1.1);
    opacity: 0.5;
  }
}


.contact-deco-title::before {
  @extend %deco-title;
  left: 38%;
  content: 'contact us';
}

.contact-product-title::before {
  @extend %deco-title;
  content: 'profile';
}


%deco-title {
  width: 800px;
  opacity: 0.5;
  display: block;
  position: absolute;
  font-size: 150px;
  top: -50%;
  color: transparent;
  z-index: -1;
  -webkit-text-stroke: 2px $main_warm_light_color;

  @media (max-width: 990px) {
      display: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.cms-title {
  color: $main_dark_color;
  font-size: 30px;
}

.cms-btn {
  color: #fff;
  background-color: $main_dark_color;
  margin-right: 10px;
}

.card-body {
  height: 175px;
}
