<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand font-weight-bold" routerLink="/home">
      YANG ZANG
        <!-- <img src="./assets/images/logo.png" width="30" height="30" alt=""> -->
    </a>
    <button
      (click)="clickHam()"
      [ngClass]="{'activity': isHamActive}"
      class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span class="hamburger-line ham-1"></span>
      <span class="hamburger-line ham-2"></span>
      <span class="hamburger-line ham-3"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="font-weight-bold link-wording nav-item nav-link" routerLink="/home">首頁</a>
        <a class="font-weight-bold link-wording nav-item nav-link" routerLink="/product">產品介紹</a>
        <!-- <a class="font-weight-bold link-wording nav-item nav-link" routerLink="/portfolio">案例介紹</a> -->
        <a class="font-weight-bold link-wording nav-item nav-link" routerLink="/contact">聯絡我們</a>
      </div>
    </div>
  </nav>
