@import '../../../content/scss/base/_color';
.about-title {
    font-size: 30px;
    margin: 20px;
    color: $main_warm_color;
}

.about-block{
    padding-top: 200px;
    padding-bottom: 200px;
}

.wording {
    font-size: 150px;
    font-weight: bold;
    color:transparent;
    -webkit-text-stroke: 2px $main_warm_light_color;
    top: -50px;
}

.position-setting{
    bottom: 0;
    right: 0;
    top: auto;
    bottom: -50px;
}