<div class="position-relative mt-100 about-block">
    <h3 class="position-absolute wording pad-d-none">YANG</h3>
    <div class="container">
        <h3 class="about-title font-weight-bold m-auto">ABOUT YANG ZANG</h3>
        <p class="m-auto about-content">提供業主專業設計及工程管理，服務範圍包含住宅、商業空間、建案實品屋/樣品屋、公設、接待中心規劃。
            <br>主持設計總監 盧國輝以20年的設計與工程豐富經歷，帶領著團隊承續對設計的熱情與工程精緻度的要求，
            <br>提供業主完整且細膩的服務，呈現創新風格與質感兼具的生活空間。
        </p>
    </div>

    <h3 class="position-absolute wording position-setting pad-d-none">ZANG</h3>
</div>