@import '../../../content/scss/base/_color';
@import '../../../content/scss/base/_extend';
@import '../../../content/scss/base/_variable';

.about-block{
    padding-top: 200px;
    padding-bottom: 200px;

    @media (max-width: $phone) {
       padding-bottom: 50px;
        padding-top: 50px;
    }
}

.about-block::before {
    @extend %pseudo-setting;
    height: 80px;
    width: 310px;
    background-color: $main_light_color ;
    top: 375px;
    left: 25%;

    @media (max-width: $phone) {
        display: none;
    }
}


.about-block::after {
    @extend %pseudo-setting;
    height: 50px;
    background-color: $main_light_m_color ;
    top: 83px;
    right: 20%;
    animation-name: deco-about;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes deco-about {
    0% {width: 250px;}
    50% {width: 150px;}
    100% {width: 250px;}
}


.about-title {
    width: 50%;
    font-size: 30px;
    margin-bottom: 50px!important;
    color: $main_warm_color;
    letter-spacing: 3px;
    line-height: 28px;
    padding-left: 20px;
    border-left: 5px solid $main_color;

    @media (max-width: $pad) {
        font-size: 25px;
        width: 70%;
    }

    @media (max-width: $phone) {
        width: 100%;
        font-size: 20px;
    }

}

.wording {
    font-size: 150px;
    font-weight: bold;
    color:transparent;
    -webkit-text-stroke: 2px $main_warm_light_color;
    border-bottom: solid 3px $main_warm_light_color;
    top: -50px;
}

.position-setting{
    bottom: 0;
    right: 0;
    top: auto;
    bottom: -50px;
}

.about-content{
    line-height: 30px;
    font-weight: bolder;
    width: 50%;

    @media (max-width: $pad) {
        width: 70%;
    }

    @media (max-width: $phone) {
        width: 100%;
    }
}