<div class="introduce-container">
  <p class="m-auto text-center contact-product-title">
    提供業主專業設計及工程管理，服務範圍包含住宅、商業空間、建案實品屋/樣品屋、公設、接待中心規劃。
    <br>主持設計總監 盧國輝以20年的設計與工程豐富經歷，帶領著團隊承續對設計的熱情與工程精緻度的要求，
    <br>提供業主完整且細膩的服務，呈現創新風格與質感兼具的生活空間。
  </p>
</div>

<div class="d-fl fl-w pr-l p-l">
  <div class="col-sm-4">
    <div
      class="card product-card"
      (click)="openProdetailPage()">
      <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card product-card" >
      <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card product-card" >
      <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card product-card">
      <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card product-card">
      <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
