<header class="d-flex fl-jc-sb h-100vh">
    <div class="pt-d w-100px logo position-relative table-d-none" >
        <!-- <img class="logo-img" src="./assets/images/logo.png" alt="YangZang"> -->
        <h2 class="logo-title">
            洋攢設計有限公司
        </h2>
        <div class="scroll font-weight-bold position-relative">scroll</div>   
    </div>

    <div class="d-flex justify-content-center align-items-center header-img-block w-70">
        <h1 class="main-title">
            YANG
            <br>
            ZANG
        </h1>
    </div>

    <div class="w-100px table-d-none"></div>
    
</header>

