<header class="d-fl fl-jc-sb h-100vh">
    <div class="pt-d mt-100 w-100px logo">
        <img class="logo-img" src="./assets/images/demo_logo.jpg" alt="YangZang">
        <h2 class="logo-title">
            洋攢設計有限公司
        </h2>   
    </div>

    <div class="d-fl fl-jc-c fl-ai-c header-img-block w-70">
        <h1 class="main-title w-40">
            YANG
            <br>
            ZANG
        </h1>
    </div>

    <ul class="d-inb nav-menu mt-100 w-100px">
        <li class="nav-item ">
            <a href="#" class="default-link-style">產品介紹</a>
        </li>
        <li class="nav-item">
            <a  href="#" class="default-link-style">案例介紹</a>
        </li>

            <li class="nav-item">
            <a  href="#" class="default-link-style">聯絡我們</a>
        </li>
    </ul>
    
</header>

