<section class="page-banner text-center">
    CONTACT US
</section>

<div class="container text-center">
    <h6 class="contact-title">
        您可透過以下三種方式聯絡我們
    </h6>

    <div class="row info-content">
        <div class="col-lg-4 p-s position-relative">
            <h5 class="deco-title">地址</h5>
            <p>006 台北市中正區重慶南路一段122號</p>
        </div>

        <div class="col-lg-4 p-s position-relative">
            <h5>電話</h5>
            <p>0905078881 / (03)8177277</p>
        </div>

        <div class="col-lg-4 p-s position-relative">
            <h5>信箱</h5>
            <a href="mailto:a0905078881@gmail.com">a0905078881@gmail.com</a>
        </div>
    </div>
    
    <div>
        <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>