@import 'base/_variable';
@import 'base/_color';
@import 'base/_mixin';
@import 'base/_extend';

/* You can add global styles to this file, and also import other style files */

body {
    color: #666!important;
    height: inherit;
    background: -webkit-linear-gradient(left,  $main_warm_light_color 1px, #fff 1px);
    background-size: 300px;
//     原文链接：https://blog.csdn.net/AsheAndWine/article/details/79044407
}

.main-container {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

::selection {
background: $main_color;
color: #fff;
}
::-moz-selection {
background: $main_color;
color: #fff;
}
img::selection {
background: transparent;
}
img::-moz-selection {
background: transparent;
}


.w-100px {
    width: 100px;
}

.h-100vh {
    height: 100vh;
}

.mt-100 {
    margin-top: 100px;
}

.default-link-style {
    font-weight: bold;
    color: $main_color;
}
.default-link-style:hover {
    text-decoration: none;
    color: $main_warm_dark_color;
}

.section-title {
    position: relative;
    margin-top: 50px;
    color: $main_color;
    font-size: $webTitleMax;
    padding-left: 10px;
}

.section-title:before {
    @extend %pseudo-setting;
    width: 50px;
    height: 5px;
    background-color: $main_warm_dark_color;
    left: 10px;
    top: 40px;
}

.read-more:after{
    @include decoration-line(35px, -3px, 130px, 2px);
}

.page-banner {
    width: 100%;
    padding: 70px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: $main_light_m_color;
    color: #fff;
}

@media (max-width: 992px) {
    .table-d-none {
        display: none!important;
    }
    
}