@import 'base/_variable';
@import 'base/_color';
@import 'base/_mixin';

/* You can add global styles to this file, and also import other style files */
.main-container {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.w-100px {
    width: 100px;
}

.h-100vh {
    height: 100vh;
}

.default-link-style {
    font-weight: bold;
    color: $main_color;
}
.default-link-style:hover {
    text-decoration: none;
    color: $main_warm_dark_color;
}

.section-title {
    position: relative;
    margin-top: 50px;
    color: $main_color;
    font-size: $webTitleMax;
    padding-left: 10px;
}

.section-title:before {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background-color: $main_warm_dark_color;
    position: absolute;
    left: 10px;
    top: 40px;
}

.read-more:after{
    @include decoration-line(35px, -3px, 130px, 2px);
}
