@import '../../../content/scss/base/_color';
@import '../../../content/scss/base/_mixin';

.footer {
   background-color: #eee;
   padding:20px 100px;
    height: 200px;
    margin-top: 150px;
}

.footer-ul{
    font-size: 15px;
    padding-right: 50px;
    color: $main_warm_dark_color;
    line-height: 30px;
    margin-right: 50px;
    margin-bottom: 0px;
    border-right: solid 1px;
}

.footer-title {
    color: $main_warm_dark_color;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bolder;
    font-style: oblique
}



