<section class="container profile-block position-relative">
    <h3 class="section-title">
        案例介紹
    </h3>

    <div class="row m-xl">
        <div class="col-sm-6">
            <div class="card">
                <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" >
                    <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-xl">
        <div class="col-sm-6">
            <div class="card">
                <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" >
                    <img src="./assets/images/demo_banner.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex  justify-content-end position-relative ">
        <a routerLink="/profile" class="default-link-style read-more font-weight-bold">read more</a>
    </div>
    
</section>

