$main_color: #958775;
$main_dark_color: #625A4D;
$main_light_color: #ecd6bd;
$main_light_m_color: #e0c19d;

$main_warm_color: #bb8c4f;
$main_warm_dark_color: #c79953;
$main_warm_light_color: #e2dbd3;

