.m-none {
  margin: 0;
}

.p-none {
  padding: 0;
}

@each $name, $spacing in $unit {
  .m-#{$name} {
    margin: $spacing;
  }
}

@each $name, $spacing in $unit {
  .mt-#{$name} {
    margin-top: $spacing;
  }
}

@each $name, $spacing in $unit {
  .mb-#{$name} {
    margin-bottom: $spacing;
  }
}

@each $name, $spacing in $unit {
  .ml-#{$name} {
    margin-left: $spacing;
  }
}

@each $name, $spacing in $unit {
  .mr-#{$name} {
    margin-right: $spacing;
  }
}

@each $name, $spacing in $unit {
  .p-#{$name} {
   padding: $spacing;
  }
}

@each $name, $spacing in $unit {
  .pt-#{$name} {
   padding-top: $spacing;
  }
}

@each $name, $spacing in $unit {
  .pb-#{$name} {
   padding-bottom: $spacing;
  }
}

@each $name, $spacing in $unit {
  .pl-#{$name} {
   padding-left: $spacing;
  }
}

@each $name, $spacing in $unit {
  .pr-#{$name} {
   padding-right: $spacing;
  }
}



