$font-family: sans-serif, 'PingFangTC-Regular', 'sourcehansans-tc', 'Microsoft JhengHei', 'Microsoft Jhenghei', 'STHeitiTC-Light', 'MicrosoftYaHei',
  '微软雅黑', '新細明體', 'Arial' !important;

$font_xSmall: 12px;
$font_small: 14px;
$font_default: 16px;
$font_large: 18px;
$font_xLarge: 20px;
$font_xXLarge: 22px;

$unit: ("xxs": 5px, "xs": 10px, "s": 15px, "d": 20px, "l": 30px, "xl": 40px);
$unit_xXSmall: 5px;
$unit_xSmall: 10px;
$unit_small: 15px;
$unit_default: 20px;
$unit_large: 30px;
$unit_xLarge: 40px;

$icon_xSmall: 18px;
$icon_small: 20px;
$icon_default: 24px;
$icon_large: 28px;
$icon_xLarge: 32px;
$icon_xXLarge: 40px;

$iphoneSE: 320px;
$ipad: 768px;
$web_smWidth: 1024px;
$web_dWidth: 1440px;

$navbarHeight: 72.5px;
$sidebarWidth: 200px;

// 電腦 ( Web ) - Title
$webTitleMax: 26px;
$webTitleLarge: 22px;
$webTitleSmall: 18px;
$webTitleMini: 14px;
// 電腦 ( Web ) - Text
$webTextMax: 24px;
$webTextLarge: 20px;
$webTextSmall: 16px;
$webTextMini: 12px;
