@import '../../../content/scss/base/_color';

h3 {
    position: absolute;
    right: 35px;
    top: 27%;
    font-size: 17px;
    width: min-content;
    line-height: 27px;
    color: $main_color;
}
